---
http_interactions:
- request:
    method: put
    uri: https://apisandbox.cieloecommerce.cielo.com.br/1/sales/a083e638-d6f1-47c5-a4dd-11dc2991b018/void
    body:
      encoding: UTF-8
      string: ''
    headers:
      Merchantid:
      - 34c7e09a-12c9-47bc-9e13-612512786368
      Merchantkey:
      - HESCNUSLIPGQQHEWSEHSGBGGEJWUZEFWIWBYFUUF
      Requestid:
      - d6dc9c0e-f6ed-4599-8a67-e9f144d33a78
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Requestid:
      - d6dc9c0e-f6ed-4599-8a67-e9f144d33a78
      X-Response-Time:
      - 2146ms
    body:
      encoding: UTF-8
      string: '{"Status":10,"ReasonCode":0,"ReasonMessage":"Successful","ProviderReturnCode":"0","ProviderReturnMessage":"Operation
        Successful","ReturnCode":"0","ReturnMessage":"Operation Successful","Links":[{"Method":"GET","Rel":"self","Href":"https://apiquerysandbox.cieloecommerce.cielo.com.br/1/sales/a083e638-d6f1-47c5-a4dd-11dc2991b018"}]}'
  recorded_at: Mon, 18 Jun 2018 17:32:34 GMT
recorded_with: VCR 4.0.0
