---
http_interactions:
- request:
    method: put
    uri: https://apisandbox.cieloecommerce.cielo.com.br/1/RecurrentPayment/818934d7-e690-40d3-ba83-84990474b643/Payment
    body:
      encoding: UTF-8
      string: '{"Type":"CreditCard","Amount":12900,"Installments":1,"SoftDescriptor":"App","CreditCard":{"CardNumber":"4256284064810958","Holder":"Isabella
        Ferraz","ExpirationDate":"11/2020","SecurityCode":"101","Brand":null}}'
    headers:
      Merchantid:
      - 34c7e09a-12c9-47bc-9e13-612512786368
      Merchantkey:
      - HESCNUSLIPGQQHEWSEHSGBGGEJWUZEFWIWBYFUUF
      Requestid:
      - 5f12f0a6-951f-4035-9997-5d8d3256c93d
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Requestid:
      - 5f12f0a6-951f-4035-9997-5d8d3256c93d
      X-Response-Time:
      - 549ms
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 01 Nov 2020 02:00:00 GMT
recorded_with: VCR 4.0.0
